:host {
  display: inline-flex;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  --max-checkbox-border: 2px solid rgba(0, 0, 0, 0.6);
  --max-checkbox-disabled-bg: #d1d1d1;
  --max-checkbox-disabled-color: #ededed;
  --max-checkbox-color: white;
}

:host([hidden]) {
  display: none;
}

/* Primary color */
:host(:not([color])),
:host([color='primary']) {
  --max-checkbox-bg: var(--max-palette-primary);
  --max-checkbox-bg-hover: hsl(var(--max-primary-h), var(--max-primary-s), var(--max-primary-l), var(--max-alpha));
}

/* Secondary color */
:host([color='secondary']) {
  --max-checkbox-bg: var(--max-palette-secondary);
  --max-checkbox-bg-hover: hsl(
    var(--max-secondary-h),
    var(--max-secondary-s),
    var(--max-secondary-l),
    var(--max-alpha)
  );
}

:host([disabled]) {
  pointer-events: none;
  color: var(--max-color-disabled);

  --max-checkbox-border: 2px solid var(--max-checkbox-disabled-bg);
  --max-checkbox-bg: var(--max-checkbox-disabled-bg);
  --max-checkbox-color: var(--max-checkbox-disabled-color);
}

:host(:hover)::part(icon-wrapper) {
  background-color: var(--max-checkbox-bg-hover);
}

:host::part(icon-wrapper) {
  position: relative;
  display: flex;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 12px;
  color: var(--max-checkbox-bg);
  border-radius: 50%;
}

:host::part(icon) {
  position: relative;
  width: 100%;
  height: 100%;
  border: var(--max-checkbox-border);
  border-radius: 4px;
  box-sizing: border-box;
}

/* --------- checked --------- */
:host([checked])::part(icon) {
  background-color: var(--max-checkbox-bg);
  border: 0;
}

:host([checked])::part(icon)::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
  width: 40%;
  height: 70%;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
/* --------- checked --------- */

/* --------- indeterminate --------- */
:host([indeterminate])::part(icon) {
  background-color: var(--max-checkbox-bg);
  border: 0;
}

:host([indeterminate])::part(icon)::after {
  content: '';
  position: absolute;
  width: 55%;
  height: 2px;
  background-color: var(--max-checkbox-color);
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* --------- indeterminate --------- */
