.max-checkbox {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.max-checkbox > input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.max-checkbox > svg {
  width: 1em;
  height: 1em;
}
