:host {
  display: inline-flex;
  outline: none;
}

:host([hidden]) {
  display: none;
}

:host([disabled]) {
  pointer-events: none;
}

/* --------------------------------------------------------------------------- */
/* ----------------- contained contained contained contained ----------------- */
/* --------------------------------------------------------------------------- */
/* variant="contained" and color="primary" */
:host([variant='contained'][color='primary']),
:host([variant='contained']:not([color])),
:host(:not([variant]):not([color])),
:host(:not([variant])[color='primary']) {
  --max-button-bg: var(--max-palette-primary);
  --max-button-color: hsl(0, 0%, calc((var(--max-primary-l) - var(--contrast-threshold)) * -100));
  --max-button-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  --max-button-bg-hover: hsl(var(--max-primary-h), var(--max-primary-s), calc(var(--max-primary-l) - 2%));
  --max-button-shadow-hover: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  --max-button-shadow-active: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* variant="contained" and color="secondary" */
:host([variant='contained'][color='secondary']),
:host(:not([variant])[color='secondary']) {
  --max-button-bg: var(--max-palette-secondary);
  --max-button-color: hsl(0, 0%, calc((var(--max-primary-l) - var(--contrast-threshold)) * -100));
  --max-button-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  --max-button-bg-hover: hsl(var(--max-secondary-h), var(--max-secondary-s), calc(var(--max-secondary-l) - 2%));
  --max-button-shadow-hover: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  --max-button-shadow-active: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* variant="contained" and disabled */
:host([variant='contained'][disabled]),
:host(:not([variant])[disabled]) {
  --max-button-bg: var(--max-bg-disabled);
  --max-button-color: var(--max-color-disabled);

  --max-button-shadow: none;
}
/* --------------------------------------------------------------------------- */
/* ----------------- contained contained contained contained ----------------- */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* ------------------- outlined outlined outlined outlined ------------------- */
/* --------------------------------------------------------------------------- */
/* variant="outlined" and color="primary" */
:host([variant='outlined'][color='primary']),
:host([variant='outlined']:not([color])) {
  --max-button-border: 1px solid hsl(var(--max-primary-h), var(--max-primary-s), var(--max-primary-l), 50%);
  --max-button-color: var(--max-palette-primary);

  --max-button-bg-hover: hsl(var(--max-primary-h), var(--max-primary-s), var(--max-primary-l), var(--max-alpha));
  --max-button-border-hover: 1px solid var(--max-palette-primary);
}

/* variant="outlined" and color="secondary" */
:host([variant='outlined'][color='secondary']) {
  --max-button-color: var(--max-palette-secondary);
  --max-button-border: 1px solid hsl(var(--max-secondary-h), var(--max-secondary-s), var(--max-secondary-l), 50%);

  --max-button-bg-hover: hsl(var(--max-secondary-h), var(--max-secondary-s), var(--max-secondary-l), var(--max-alpha));
  --max-button-border-hover: 1px solid var(--max-palette-secondary);
}

/* variant="outlined" and disabled */
:host([variant='outlined'][disabled]) {
  --max-button-color: var(--max-color-disabled);
  --max-button-border: 1px solid var(--max-bg-disabled);
}
/* --------------------------------------------------------------------------- */
/* ------------------- outlined outlined outlined outlined ------------------- */

/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* --------------------------- text text text text --------------------------- */
/* --------------------------------------------------------------------------- */
/* variant="text" and color="primary" */
:host([variant='text'][color='primary']),
:host([variant='text']:not([color])) {
  --max-button-color: var(--max-palette-primary);

  --max-button-bg-hover: hsl(var(--max-primary-h), var(--max-primary-s), var(--max-primary-l), var(--max-alpha));
}

/* variant="text" and color="secondary" */
:host([variant='text'][color='secondary']) {
  --max-button-color: var(--max-palette-secondary);

  --max-button-bg-hover: hsl(var(--max-secondary-h), var(--max-secondary-s), var(--max-secondary-l), var(--max-alpha));
}

/* variant="text" and disabled */
:host([variant='text'][disabled]) {
  --max-button-color: var(--max-color-disabled);
  --max-button-bg: transparent;
}
/* --------------------------------------------------------------------------- */
/* --------------------------- text text text text --------------------------- */
/* --------------------------------------------------------------------------- */

button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  min-width: 64px;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  user-select: none;
  transition-property: background-color, color, box-shadow, border-color;
  transition-duration: 0.25s;
  background-color: var(--max-button-bg, transparent);
  color: var(--max-button-color, inherit);
  box-shadow: var(--max-button-shadow, none);
  border: var(--max-button-border, none);
}

button:hover {
  background-color: var(--max-button-bg-hover, var(--max-button-bg, transparent));
  border: var(--max-button-border-hover, var(--max-button-border, none));
  box-shadow: var(--max-button-shadow-hover, var(--max-button-shadow, none));
}

button:active {
  box-shadow: var(--max-button-shadow-active, var(--max-button-shadow, none));
}
